@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default emerald;
}

.grand-hotel-regular {
  font-family: "Grand Hotel", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
}
