{% load static %}
<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'global.css' %}" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-50 text-base-content min-h-screen">
    {% if messages %}
    <div class="fixed bottom-4 right-4 z-50 flex flex-col gap-2 max-w-sm">
      {% for message in messages %}
      <div role="alert" class="alert alert-{{ message.tags }} shadow-lg">
        <span>{{ message }}</span>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <nav
      class="navbar fixed top-0 left-0 right-0 z-10 bg-base-100 border-b border-gray-200 px-4 sm:px-6 lg:hidden"
    >
      <div class="flex-1">
        <a href="{% url 'home' %}" class="btn btn-ghost text-2xl grand-hotel-regular">Instagram</a>
      </div>
      <div class="flex items-center gap-4">
        {% if request.user.is_authenticated %}
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 flex items-center justify-center rounded-full">
              {% if request.user.profile %}
              <img alt="user-profile-photo" src="{{ request.user.profile.avatar.url }}" />
              {% else %}
              <i class="ph ph-user-circle text-3xl"></i>
              {% endif %}
            </div>
          </div>
          <ul
            tabindex="-1"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
          >
            <li>
              <a class="justify-between">
                Profile
                <span class="badge">New</span>
              </a>
            </li>
            <li><a>Settings</a></li>
            <li><a href="{% url 'logout-user' %}">Logout</a></li>
          </ul>
        </div>
        {% endif %}
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
