{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <link href="{% static 'global.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    {% if messages %}
    <div class="fixed bottom-4 right-4 z-50 flex flex-col gap-2 max-w-sm">
        {% for message in messages %}
        <div role="alert" class="alert alert-{{ message.tags }} shadow-lg">
            <span>{{ message }}</span>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <nav class="navbar fixed top-0 left-0 right-0 z-10 bg-base-100 shadow-sm">
        <div class="flex-1">
            <a class="btn btn-ghost text-2xl grand-hotel-regular">Instagram</a>
        </div>
        <div class="flex items-center gap-4">
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                    <div class="indicator">
                        <span class="material-symbols-outlined">
                            favorite
                        </span>
                        <span class="badge badge-sm indicator-item">8</span>
                    </div>
                </div>
            </div>

            {% if request.user.is_authenticated %}
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img alt="user-profile-photo" src="{{ request.user.profile.avatar.url }}" />
                    </div>
                </div>
                <ul tabindex="-1"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                    <li>
                        <a class="justify-between">
                            Profile
                            <span class="badge">New</span>
                        </a>
                    </li>
                    <li><a>Settings</a></li>
                    <li><a href="{% url 'logout-user' %}">Logout</a></li>
                </ul>
            </div>
            {% else %}
            <div class="flex gap-2">
                <a href="{% url 'login-user' %}" class="link">Login</a>
                <a href="{% url 'register-user' %}" class="link">Register</a>
            </div>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>
